h1{
  border:double 8px #4E0250;
  text-align:center;
  border-radius:30px;
  font-size:60px;
  box-shadow: 10px 10px 6px;
}
  body{
    background-color:#F4E8E8;
    background-image:url(https://i.pinimg.com/originals/d5/49/e4/d549e4f1b5b64916bc9c12c72856c448.jpg);
    background-repeat:no-repeat;
    background-size:cover;
  }
h2{
  border:solid 4px #8C1C13;
  border-radius:20px;
  width: 22%;
  text-align:center;
  box-shadow: 8px 8px 6px;
}
p{
  font-size: 22px;
}
#feather{
  color:#4E0250;
}
#feather2{
  color:#58BC82;
}
#feather3{
  color:#645986;
}
ol{
  list-style-type: none;
  font-size: 22px;
}
nav ul{
  padding:10px;
  margin:0px;
  list-style-type:none;
}
nav li{
  display:inline-block;
  border: double 8px #8C1C13;
  border-radius:20px;
  text-align:center;
  box-shadow: 8px 8px 6px;
  margin:25px;
  padding:10px;
}
nav li a{
  display:block;
  text-decoration: none;
  color: black;
  font:35px bold;
}
nav li :hover{
  text-decoration: underline;
}
